QDRANT_URL=http://localhost:6333
OPENAI_API_KEY=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